$primaryColor: #3e214f;
$secondaryColor: #e6767a;

.carousel-main {
  padding: 3% 5%;
  background-color: $secondaryColor;
  height: 500px;

  .carousel-heading {
    font-size: 32px;
    color: #3e214f;
    text-align: center;
    margin: 1% 1%;
    font-weight: 700;
  }

  .carousel-divs {
    margin: 2%;
  }

  .div-item {
    margin: 10% 0%;
    background-color: white;
    padding: 7% 5%;
    border-radius: 8px;
  }
  .slick-slide {
    margin-right: 10px;
  }
  .slick-track {
    height: 150px;
  }
  .item-flex {
    display: flex;
    margin-bottom: 10px;

    h2 {
      font-weight: 700;
      color: #3e214f;
    }
    p {
      font-size: 14px;
    }
  }
  .desc {
    border-bottom: 0.5px solid lightgray;
    padding-bottom: 10px;
  }
  .item-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: -3px;
  }
}
