.footer {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  justify-content: space-between;
  background-color: #fff;
  border-top: 0.5px solid #e5e5e5;
  height: 64px;

  .footer_links {
    display: flex;
    gap: 20px;

    a {
      text-decoration: none;
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #434157;
    }
  }
  .copyright {
    display: flex;
    gap: 4px;

    p {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: #434157;
    }
  }
}
